<body background=<%= image_path 'https://www.drodd.com/images16/white-color21.png' %>>
<div class="logo">
<%= image_tag "digilogo.png", alt: "logo", width: 80 %>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
<div class="container">
<p>🄷🄴🄻🄻🄾 🅆🄾🅁🄻🄳 </p>
<%# <button class="button-pink"><%= link_to "about","pages#about" %>
<%# </button> %>
</div>
</div>
