.banner {
  background-size: cover;
  background-position: center;
  background-color: black;
  padding: 40px;
  margin: 60px;
  margin-top: 20px;
  border-radius: 5px;
  border-color: #ff94e5;
  border-style:solid;
}


.banner p {
  font-size: 12px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Courier New', Courier, monospace;

}

p {
  margin: 5;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}



/* Links inside the navbar */


.banner2 {
  background-size: cover;
  background-position: center;
  background-color: black;
  padding: 20px;
  margin: 60px;
  margin-top: 20px;
  border-radius: 5px;
  border-color: #ff94e5;
  border-style:solid;
  border-spacing: 50px;
  display: inline-block;
}


.banner2 p {
  font-size: 12px;
  margin:auto;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Courier New', Courier, monospace;
  display:grid;


}

.banner2 container {
  display: flex;
}

.banner3 {
  /* background-size: cover; */
  background-position: center;
  background-color: black;
  padding: 20px;
  margin: 8px;
  margin-top: 11px;
  border-radius: 5px;
  border-color: #ff94e5;
  border-style:solid;
  flex-wrap: wrap;
  display: inline-block;
  box-shadow: #ddd;
  justify-content: center;


}


.banner3 p {
  font-size: 12px;
  flex-wrap: wrap;
  padding-block: 3px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Courier New', Courier, monospace;
  margin:auto;
  padding: 0%;
  display: flex;
}
.buttonwrap {
  display: flex;
  /* margin-left: 16px; */
  justify-content: center;
}
